<html>
<head>
<script src="/lib/angular.js" charset="utf-8"></script>
<script src="/lib/ui-bootstrap-tpls-0.11.0.js" charset="utf-8"></script>
<script src="/js/tweetcloud.js" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"></link>
<style>
button.cloud {}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
</style>
</head>

<body data-ng-app="tweetcloud" data-ng-controller="cloudCtlr">
<nav role="navigation" class="navbar navbar-default">
	<div class="navbar-header">
		<ul class="nav navbar-nav">
			<li><a tooltip-placement="bottom" tooltip="Source of this data.">{{ source.title }} 
				<span class="caret"></span></a>			
			<li><a>{{ resultCount }}/{{ getStringCount() }} strings</a></li>
			<li><a>{{ getTransformCount() }} transformations</a></li>
			<li class="login" data-ng-show="showTwitterLogin()"><a href="/twauth">Log in with Twitter</a></li>
			<li><a><span class="label label-primary" ng-repeat="queryterm in getQueryAsArray()">{{queryterm}}<span></a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a>Buttons
				<div class="btn-group">
					<label class="btn btn-lg btn-default" data-ng-click="less()"
							tooltip-placement="bottom" tooltip="Show fewer cloud buttons.">
						<img src="/glyphicons/png/glyphicons_433_minus.png" />
					</label>
					<label class="btn btn-lg btn-default" data-ng-click="more()"
							tooltip-placement="bottom" tooltip="Show more cloud buttons.">
						<img src="/glyphicons/png/glyphicons_432_plus.png" />
					</label>
					<label class="btn btn-lg btn-default" data-ng-click="smaller()"
							tooltip-placement="bottom" tooltip="Make cloud buttons smaller.">
						<img src="/glyphicons/png/glyphicons_115_text_smaller.png" />
					</label>
					<label class="btn btn-lg btn-default" data-ng-click="bigger()"
							tooltip-placement="bottom" tooltip="Make cloud buttons bigger.">
						<img src="/glyphicons/png/glyphicons_116_text_bigger.png" />
					</label>
				</div></a>
			</li>
			<li><a>Content
				<div class="btn-group">
					<label class="btn btn-lg btn-default" data-ng-click="showStrings = !showStrings"
							tooltip-placement="bottom" tooltip="Toggle display of matching Strings.">
						<img src="/glyphicons/png/glyphicons_158_show_lines.png" />
					</label>
					<label class="btn btn-lg btn-default" data-ng-click="initialize();"
							tooltip-placement="bottom" tooltip="Refresh content.">
						<img src="/glyphicons/png/glyphicons_081_refresh.png" />
					</label> <!-- Currently doesn't work because content is constant -->
					<label class="btn btn-lg btn-default" data-ng-click="initialize()"
							tooltip-placement="bottom" tooltip="Revert content.">
						<img src="/glyphicons/png/glyphicons_435_undo.png" />
					</label>
				</div></a>
			</li>
		</ul>
	</div>
</nav>
<div data-ng-controller="alertCtlr">
	<alert ng-repeat="alert in getAlerts()" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</alert>
</div>
<div class="tc" id="content">
	<!-- TODO Hide the UI until the user is logged into Twitter. -->
	<!-- TODO Animate it. -->
	<button class="cloud btn btn-default btn-xs" 
		data-ng-controller="buttonCtlr"
		data-ng-repeat="(word,wordspec) in getCloudData()" 
		data-ng-hide="hideThis"
		data-ng-click="addQueryTerm(wordspec.queryTerm);filterContent();"
		data-ng-style="countToStyle(wordspec.count)"
		tooltip-placement="bottom" tooltip="{{ wordspec.count }} instances"
		>{{ word }}</button>
	<ul collapse="!showStrings"><li data-ng-repeat="matchedString in matches">{{matchedString}}</li></ul>
</div>
</body>
</html>